.green {
  background-color: lightgreen;
  width: 500px;
  height: 100px;
  padding: 10px 0px 0px 10px;
}
.blue {
  background-color: lightblue;
  width: 170px;
  height: 275px;
  padding: 10px 0px 0px 10px;
  margin-top: 10px;
}
.row-container {
  display: flex;
  flex-direction: row;
}
.column-container {
  display: flex;
  flex-direction: column;
}
.yellow {
  background-color: rgb(243, 243, 109);
  width: 145px;
  height: 145px;
  margin-top: 10px;
  padding: 10px 0px 0px 10px;
}
.red {
  background-color: rgb(226, 87, 111);
  width: 145px;
  height: 145px;
  margin: 10px;
  padding: 10px 0px 0px 10px;
}
.orange {
  background-color: rgb(238, 165, 56);
  width: 300px;
  height: 100px;
  margin: 10px;
  padding: 10px 0px 0px 10px;
}
.inner {
  background-color: white;
  text-align: center;
  width: 40px;
  margin-right: 20px;
  margin-top: 10px;
  height: 30px;
}
